body {
    font-family: 'Kanit', sans-serif;
}

/* เพิ่ม transition ให้ modal นุ่มขึ้น */
#booking-modal {
    transition: opacity 0.3s ease;
}

/* ปุ่ม Skip */
.skip-btn {
    transition: 0.2s ease;
}